body {
    background-color: #adbbd1;
}

.form-control {
    width: 75%;
    margin-bottom: 2%;
    background-color: #adbbd1;
}

.jumbotron {
    background-color: #ffd0c7;
    margin: 2% 0;
    width: 90%;
    border: solid 2px #d1b7ad;
}

.well {
    background-color: #ffd0c7;
}

li {
    list-style-type: none;
}

#delete {
    margin-top: 3%;
}
