<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ app.request.getbaseurl }}/assets/css/styles.css" rel="stylesheet" type="text/css">
        <title>Epicene Salon</title>
    </head>
    <body>
        <div class="container">
            <h1>Epicene Salon Stylist and Client Management Systems</h1>
            <div class="jumbotron">
                {% if stylists is not empty %}
                    <h2>Your current Stylists are:</h2>
                    <ul>
                        {% for stylist in stylists %}
                        <li><a href="/stylist/{{stylist.getId}}">{{stylist.getLastName}}, {{stylist.getFirstName}}</a> </li>
                        {% endfor %}
                    </ul>
                {% else %}
                <h4>You do not currently employ any stylists.</h4>
                {% endif %}
            </div>
            <div class="jumbotron">
                <h2>Add a new Stylist:</h2>
                <form action="/stylists" method="post">
                    <label for="stylist_first_name">First Name</label>
                    <input class="form-control" type="text" name="stylist_first_name" id="stylist_first_name" value="">
                    <label for="stylist_last_name">Last Name</label>
                    <input class="form-control" type="text" name="stylist_last_name" id="stylist_last_name" value="">
                    <label for="specialty">Specialty</label>
                    <input class="form-control" type="text" name="specialty" id="specialty" value="">
                    <button class="btn" type="submit" name="button">Add Stylist</button>
                </form>
            </div>
        </div>
    </body>
</html>
