<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ app.request.getbaseurl }}/assets/css/styles.css" rel="stylesheet" type="text/css">

        <meta charset="utf-8">
        <title>Epicene Salon</title>
    </head>
    <body>
        <div class="container">
            <h1>Epicene Salon Stylist and Client Management Systems</h1>

            <div class="jumbotron">
                <h3>Unfortunately the information you entered was not accepted as valid by the system.  Please ensure that none of the fields are empty before attempting to submit and try again!</h3>
            </div>
            <a class="return" href="/">Return to the list of Stylists</a>
        </div>
    </body>
</html>
